body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.6s;
}

:root {
    --color: rgb(101, 184, 217);
}

#home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 20px 20px;
    background-color: var(--color);
    padding: 0.8rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_name {
    color: white;
    font-weight: 600;
    font-size: 2.1rem;
    text-shadow: 2px 2px 10px #000;
    letter-spacing: 1px;
}

.profile_name .contact_info {
    letter-spacing: normal;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    text-shadow: none;
    padding: 0.5rem 0.7rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact_info img {
    margin-right: 0.8rem;
}

.topmenu {
    color: lightgray;
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: 1px;
}

.topmenu:hover {
    color: white;
    text-decoration: underline;
}
