@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body,
html {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.6s ease;
    scroll-behavior: smooth;
}

:root {
    --color: rgb(101, 184, 217);
    --max-width: 1500px
}

/* Navbar */

#home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 8px 8px;
    background-color: var(--color);
    padding: 0.8rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.8s;
}

.profile_name {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 2px 2px 10px #000;
    letter-spacing: 1px;
}

.profile_name .contact_info {
    font-family: "Work Sans", sans-serif;
    letter-spacing: normal;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    text-shadow: none;
    padding: 10px 0px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact_info img {
    margin-right: 0.8rem;
}

.topmenu {
    font-family: "Work Sans", sans-serif;
    color: lightgray;
    padding: 20px;
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: 1px;
}

.topmenu:hover {
    color: white;
    text-decoration: underline;
}

/* Titles*/

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color);
}

/* About Me */

.container {
    display: flex;
    height: 100vh;
    max-height: 1200px;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}


#about-me {
    display: flex;
    align-items: center;
}

#about-me .info {
    margin-right: 20px;
}

#about-me h1 {
    font-size: 4.5rem;
    margin-top: 90px;
    color: var(--color);
}

#about-me p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3rem;
    color: rgb(128, 128, 128);
    word-spacing: 1px;
    margin-top: -1cm;
    padding-bottom: 20px;
}

#about-me a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffff;
    background-color: var(--color);
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid whitesmoke;
    transition: 0.3s;
}

#about-me a:hover {
    color: var(--color);
    background-color: transparent;
    border: 2px solid var(--color);
}

.profile_image {
    width: 550px;
    height: fit-content;
    vertical-align: middle;
    margin: 5px 20px 0 0;
    border-radius: 20px;
    padding-right: 10px;
}

/* Skills */

#skills {
    padding-top: 110px;
}

.all_skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.skill {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.skill h6 {
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
}

.skill p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

/* */
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Projects */

.projects {
    padding-top: 110px;
}

.projects-container {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.projects-container hr {
    border: 1px solid lightgray;
    width: 75%;
}

.project-card {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
}

.project-card h3 {
    font-size: 25px;
    margin-left: 30px;
}

.project-card li {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    margin-left: 30px;
    color: grey;
}

/* Recommendations */

#recommendations {
    padding-top: 110px;
    padding-bottom: 30px;
}

.all_recommendations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    padding: 30px;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
}

.recommendation {
    font-family: "Work Sans", sans-serif;
    font-style: italic;
    text-align: left;
    flex: 1 1 20rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 20px;
    margin: 10px;
    border: 1px solid gray;
    font-size: 18px;
    color: grey;
}

.recommendation span {
    color: var(--color);
    font-size: 20px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
}

/* Scroll to Top Button */

.iconbutton {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
}

/* Form Pop-up */

.popup {
    width: 400px;
    background-color: #e8bcf0;
    border-radius: 3mm;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    /* padding: 30px; */
    visibility: hidden;
}

.popup img {
    padding-top: 20px;
}

.popup button {
    background-color: #fff;
    border: 1px solid var(--color);
    color: var(--color);
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    margin-left: 25%;
}

.popup button:hover {
    background-color: #fff;
    border: 2px solid var(--color);
    color: var(--color);
    display: block;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-left: 25%;
}

/* Recommendation Form */

.introduction {
    text-align: justify;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
}

input,
textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

fieldset {
    display: flexbox;
    align-content: center;
    justify-content: center;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border: thin solid white;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
}

/* Buttons */

button {
    background-color: #fff;
    border: 1px solid var(--color);
    color: var(--color);
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
}

button:hover {
    background-color: var(--color);
    border: 1px solid var(--color);
    color: #fff;
    display: block;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}